@charset "UTF-8";

@font-face {
    font-family: 'lato';
    /*font-family: 'latoblack_italic';*/
    src: url('./fonts/lato/lato-blackitalic-webfont.eot');
    src: url('./fonts/lato/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-blackitalic-webfont.woff') format('woff'),
         url('./fonts/lato/lato-blackitalic-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latoblack';*/
    src: url('./fonts/lato/lato-black-webfont.eot');
    src: url('./fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-black-webfont.woff') format('woff'),
         url('./fonts/lato/lato-black-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latobold_italic';*/
    src: url('./fonts/lato/lato-bolditalic-webfont.eot');
    src: url('./fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
         url('./fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latobold';*/
    src: url('./fonts/lato/lato-bold-webfont.eot');
    src: url('./fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('./fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latoitalic';*/
    src: url('./fonts/lato/lato-italic-webfont.eot');
    src: url('./fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-italic-webfont.woff') format('woff'),
         url('./fonts/lato/lato-italic-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latoregular';*/
    src: url('./fonts/lato/lato-regular-webfont.eot');
    src: url('./fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('./fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latoregular';*/
    src: url('./fonts/lato/lato-regular-webfont.eot');
    src: url('./fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('./fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    /*font-family: 'latolight_italic';*/
    src: url('./fonts/lato/lato-lightitalic-webfont.eot');
    src: url('./fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-lightitalic-webfont.woff') format('woff'),
         url('./fonts/lato/lato-lightitalic-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latolight';*/
    src: url('./fonts/lato/lato-light-webfont.eot');
    src: url('./fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-light-webfont.woff') format('woff'),
         url('./fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latohairline_italic';*/
    src: url('./fonts/lato/lato-hairlineitalic-webfont.eot');
    src: url('./fonts/lato/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-hairlineitalic-webfont.woff') format('woff'),
         url('./fonts/lato/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    /*font-family: 'latohairline';*/
    src: url('./fonts/lato/lato-hairline-webfont.eot');
    src: url('./fonts/lato/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato/lato-hairline-webfont.woff') format('woff'),
         url('./fonts/lato/lato-hairline-webfont.ttf') format('truetype'),
         url('./fonts/lato/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: 'roboto';
    /*font-family: 'robotoregular';*/
    src: url('./fonts/roboto/roboto-regular-webfont-webfont.eot');
    src: url('./fonts/roboto/roboto-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-regular-webfont-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-regular-webfont-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-regular-webfont-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotothin';*/
    src: url('./fonts/roboto/roboto-thin-webfont.eot');
    src: url('./fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotolight';*/
    src: url('./fonts/roboto/roboto-light-webfont.eot');
    src: url('./fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotomedium';*/
    src: url('./fonts/roboto/roboto-medium-webfont.eot');
    src: url('./fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotobold';*/
    src: url('./fonts/roboto/roboto-bold-webfont.eot');
    src: url('./fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotoblack';*/
    src: url('./fonts/roboto/roboto-black-webfont.eot');
    src: url('./fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-black-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-black-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotoitalic';*/
    src: url('./fonts/roboto/roboto-italic-webfont.eot');
    src: url('./fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-italic-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotothin_italic';*/
    src: url('./fonts/roboto/roboto-thinitalic-webfont.eot');
    src: url('./fonts/roboto/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-thinitalic-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-thinitalic-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotolight_italic';*/
    src: url('./fonts/roboto/roboto-lightitalic-webfont.eot');
    src: url('./fonts/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotomedium_italic';*/
    src: url('./fonts/roboto/roboto-mediumitalic-webfont.eot');
    src: url('./fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotobold_italic';*/
    src: url('./fonts/roboto/roboto-bolditalic-webfont.eot');
    src: url('./fonts/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    /*font-family: 'robotoblack_italic';*/
    src: url('./fonts/roboto/roboto-blackitalic-webfont.eot');
    src: url('./fonts/roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-blackitalic-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariol-bold-webfont.eot');
    src: url('./fonts/bariol/bariol-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariol-bold-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariol-bold-webfont.woff') format('woff'),
         url('./fonts/bariol/bariol-bold-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariol-bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariolregular-italic-webfont.eot');
    src: url('./fonts/bariol/bariolregular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariolregular-italic-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariolregular-italic-webfont.woff') format('woff'),
         url('./fonts/bariol/bariolregular-italic-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariolregular-italic-webfont.svg#bariolregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariol-regular-webfont.eot');
    src: url('./fonts/bariol/bariol-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariol-regular-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariol-regular-webfont.woff') format('woff'),
         url('./fonts/bariol/bariol-regular-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariol-regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariol-regular-webfont.eot');
    src: url('./fonts/bariol/bariol-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariol-regular-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariol-regular-webfont.woff') format('woff'),
         url('./fonts/bariol/bariol-regular-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariol-regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariolbold-italic-webfont.eot');
    src: url('./fonts/bariol/bariolbold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariolbold-italic-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariolbold-italic-webfont.woff') format('woff'),
         url('./fonts/bariol/bariolbold-italic-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariolbold-italic-webfont.svg#bariol_boldbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariollight-italic-webfont.eot');
    src: url('./fonts/bariol/bariollight-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariollight-italic-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariollight-italic-webfont.woff') format('woff'),
         url('./fonts/bariol/bariollight-italic-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariollight-italic-webfont.svg#bariollight_italic') format('svg');
    font-weight: lighter;
    font-style: italic;

}
@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariol-light-webfont.eot');
    src: url('./fonts/bariol/bariol-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariol-light-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariol-light-webfont.woff') format('woff'),
         url('./fonts/bariol/bariol-light-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariol-light-webfont.svg#bariol_lightlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariol-thin-webfont.eot');
    src: url('./fonts/bariol/bariol-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariol-thin-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariol-thin-webfont.woff') format('woff'),
         url('./fonts/bariol/bariol-thin-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariol-thin-webfont.svg#bariolthin') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'bariol';
    src: url('./fonts/bariol/bariolthin-italic-webfont.eot');
    src: url('./fonts/bariol/bariolthin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bariol/bariolthin-italic-webfont.woff2') format('woff2'),
         url('./fonts/bariol/bariolthin-italic-webfont.woff') format('woff'),
         url('./fonts/bariol/bariolthin-italic-webfont.ttf') format('truetype'),
         url('./fonts/bariol/bariolthin-italic-webfont.svg#bariolthin_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}


@font-face {
    font-family: 'fontello';
    src: url('./fonts/fontello/fontello.eot');
    src: url('./fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontello/fontello.woff2') format('woff2'),
         url('./fonts/fontello/fontello.woff') format('woff'),
         url('./fonts/fontello/fontello.ttf') format('truetype'),
         url('./fonts/fontello/fontello.svg#fontelloregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aileronsregular';
    src: url('./fonts/ailerons/ailerons-webfont.eot');
    src: url('./fonts/ailerons/ailerons-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ailerons/ailerons-webfont.woff2') format('woff2'),
         url('./fonts/ailerons/ailerons-webfont.woff') format('woff'),
         url('./fonts/ailerons/ailerons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* fonts */
@font-face {
    font-family: 'open-sans';
    src: url('./fonts/opensans-light.eot');
    src: url('./fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-light.woff2') format('woff2'),
         url('./fonts/opensans-light.woff') format('woff'),
         url('./fonts/opensans-light.ttf') format('truetype'),
         url('./fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans';
    src: url('./fonts/opensans-regular.eot');
    src: url('./fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-regular.woff2') format('woff2'),
         url('./fonts/opensans-regular.woff') format('woff'),
         url('./fonts/opensans-regular.ttf') format('truetype'),
         url('./fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans';
    src: url('./fonts/opensans-italic.eot');
    src: url('./fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-italic.woff2') format('woff2'),
         url('./fonts/opensans-italic.woff') format('woff'),
         url('./fonts/opensans-italic.ttf') format('truetype'),
         url('./fonts/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'open-sans';
    src: url('./fonts/opensans-bold.eot');
    src: url('./fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-bold.woff2') format('woff2'),
         url('./fonts/opensans-bold.woff') format('woff'),
         url('./fonts/opensans-bold.ttf') format('truetype'),
         url('./fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./fonts/fontello/fontello.svg?87370020#fontello') format('svg');
  }
}


.lato {
    font-family: 'lato','Trebuchet MS', 'Helvetica', sans-serif;
}
.roboto {
    font-family: 'roboto','Trebuchet MS', 'Helvetica', sans-serif;
}
.bariol {
    font-family: 'bariol','Trebuchet MS', 'Helvetica', sans-serif !important;
}
.fontello {
    font-family: 'fontello' !important;
}
.aileronsregular {
    font-family: 'aileronsregular' !important;
}

.fw100 { font-weight: 100;  }
.fw200 { font-weight: 200;  }
.fw400 { font-weight: 400;  }
.fw700 { font-weight: 700;  }
.fw900 { font-weight: 900;  }
